@model Bug_Boss.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Asigned User
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.AssignedUser.LastName)
            </div>
            <br />
            <hr />
            <div class="col-md-6"> 
                <i class="fa fa-bug"></i>
                Owner User
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.OwnerUser.LastName)
            </div>
            <br />
            <hr />

            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Project Name
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.Project.Name)
            </div>
            <br />
            <hr />

            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Ticket Priority
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.TicketPriority.Name)
            </div>
            <br />
            <hr />

            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Ticket Status
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.TicketStatus.Name)
            </div>
            <br />
            <hr />
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Ticket Type
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.TicketType.Name)
            </div>
            <br />
            <hr />
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Ticket Title
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.Title)
            </div>
            <br />
            <hr />
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Ticket Desciption
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.Description)
            </div>
            <br />
            <hr />
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Created Date
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.Created)
            </div>
            <br />
            <hr />
            <div class="col-md-6">
                <i class="fa fa-bug"></i>
                Updated Date
            </div>

            <div class="col-md-6">
                @Html.DisplayTextFor(model => model.Updated)
            </div>
            <br />
            <hr />
            <div>
                @Html.ActionLink("Ticket Attachments", "TicketAttachments", "Create")
                <a href="~/Views/TicketAttachments/Create.cshtml"></a>
            </div>
            
        </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @Html.ActionLink("Leave a Comment", "Create", "TicketComments")

    @foreach (var comment in Model.TicketComments)
    {
        <div class="post-body">
            <div class="post-body-inner comment-width">
                <div class="post-message-container" data-role="message-container">
                    <div class="publisher-anchor-color" data-role="message-content">
                        <div class="post-message" data-role="message" dir="auto">
                            <p>@comment.User.DisplayName</p>
                            <p class="fa-indent fa-2x">@Html.DisplayFor(modelTicketComments => comment.Comment)</p>
                        </div>
                        <span class="post-media">< data-role="post-media-list"></></span>
                    </div>
                </div>
            </div>
        </div>
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit /", "Edit", new { comment = comment.Id })
            @Html.ActionLink(" Details", "Details", new { comment = comment.Id })
        }
    }
    <hr>
    <div class="col-md-6">
        <div class="well">
            <h4>Add Attachment</h4>
            <form action="/Tickets/AddAttachment" method="post" enctype="multipart/form-data">
                <div class="form-group col-md-12">
                    @Html.Hidden("TicketId", Model.Id)
                    @Html.AntiForgeryToken()
                    <textarea class="form-control" name="Description"></textarea>
                    <input type="file" name="image" />
                </div>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
        @foreach (var ticketAttachment in Model.TicketAttachments) 
        {
            <div class="media">
                <div class="media-body">
                    <img src="@ticketAttachment.FileUrl" class="img-responsive" />
                </div>
            </div>
        }
    </div>
</div>

