@using BudgetBoss.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Budget Boss</title>
    
    <!-- Bootstrap Core CSS -->
    @*@Styles.Render("~/Content/css")*@
    <link href="/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="/Content/CSS/Site.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/Content/CSS/sb-admin.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="/Content/CSS/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/fonts/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- JQuery Datatables CSS -->
    <link href="/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <!-- Moderinzer CSS -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Budget Boss</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown" style="padding-right: 25px">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    @if (User.Identity.IsInHousehold())
                    {
                        <li class="active">
                            <a href="/Home/Dashboard"><i class="fa fa-fw fa-bank"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#account"><i class="fa fa-fw fa-bar-chart-o"></i> Accounts <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="account" class="collapse">
                                <li>
                                    <a href="/HouseholdAccounts/Index"> Accounts</a>
                                </li>
                                <li>
                                    <a href="/HouseholdAccounts/Create"> Create</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#household"><i class="fa fa-fw fa-edit"></i> My Household <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="household" class="collapse">
                                <li>
                                    <a href="/Households/Index"> Household Info</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#budget"><i class="fa fa-fw fa-calculator"></i> My Budget <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="budget" class="collapse">
                                <li>
                                    <a href="/BudgetItems/Index"> Budget Info</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-archive"></i> Categories <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="category" class="collapse">
                                <li>
                                    <a href="/Categories/Index"> Categories</a>
                                </li>
                                <li>
                                    <a href="/Categories/Create"> Create</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Manage/Index"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (!User.Identity.IsInHousehold())
                        {
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#household"><i class="fa fa-fw fa-edit"></i><span style="color:yellow"> Start Here</span><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="household" class="collapse">
                                    <li>
                                        <a href="/Households/Create"> Create a Household</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#household"><i class="fa fa-fw fa-edit"></i><span style="color:yellow"> Begin Here</span><i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="household" class="collapse">
                                <li>
                                    <a href="/Account/Login"> Login</a>
                                </li>
                                <li>
                                    <a href="/Account/Register"> Register</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>







            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            The Budget Boss <small> Manage your finances. Manage your life.</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
               
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    @RenderBody()

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Morris Charts JavaScript -->
    <script src="/Scripts/Morris/raphael.min.js"></script>
    <script src="/Scripts/Morris/morris.min.js"></script>
    <script src="/Scripts/Morris/morris-data.js"></script>
    <!-- Datatables JQuery-->
    <script src="/Scripts/DataTables/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
