@model BudgetBoss.Models.Household
@using BudgetBoss.Models

@{
    ViewBag.Title = "Index";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <h2> My Household</h2>

                    @if (!User.Identity.IsInHousehold())
                    {
                        <p>
                            @Html.ActionLink("Create New Household", "Create")
                        </p>
                    }
                
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                            </td>
                        </tr>
                    

                </table>
                </div>
            </div>
        </div>
    </div>
