@{
    ViewBag.Title = "Edward Waked" ;
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- This will display when the page is viewed on a mobile device -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand me-name" href="#top">Edward Waked</a><!-- This text displays when the screen has been scrolled -->
            <div class="nav-collapse collapse pull-right navigation">
                <ul class="nav">
                    <li class="active first">@Html.ActionLink("Keypoints", "index", "Home")</li>
                    <li>@Html.ActionLink("Experience", "Index", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Education", "Index", "Home")</li>
                    <li>@Html.ActionLink("Skills", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Index", "Posts")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                    
                </ul>
            </div><!-- nav-collapse -->

        </div><!-- container -->
    </div><!-- navbar-inner -->
</div><!-- navbar -->
<!--
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::: Hero information, where it displays profile picture and personal information
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->
<div class="hero">
    <div class="container">
        <div class="hero-unit me-details">
            <div class="row-fluid">
                <div class="span2">
                    <div class="avatar">
                        <img width="130" height="128" src="~/Content/person.jpg" alt="my resume photo" />
                    </div>
                </div><!-- span2 -->
                <div class="span6">
                    <h1>Edward Waked</h1>
                    <h2>Experienced Front End Web Developer</h2>
                    <ul class="social">
                        <li class="linked"><a href="https://www.linkedin.com/in/eddiewaked"></a></li>
                        <li><a href="https://github.com/ebwaked"></a></li>
                        
                 </ul>
                </div><!-- span6 -->
                <div class="span4">
                    <address>
                        1801 Glen Ridge Dr.<br>
                        Kernersville, NC 27284<br>
                        <abbr title="Phone">P:</abbr> (336) 414-3716<br>
                        <abbr title="Email">E:</abbr> <a href="ebwaked87@gmail.com">ebwaked87@gmail.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="http://ewaked-resume.azurewebsites.net">http://ewaked-resume.azurewebsites.net</a><br>
                    </address>
                </div><!-- span4 -->
            </div><!-- row-fluid -->
        </div> <!-- hero-unit -->
    </div><!-- container -->
</div><!-- hero -->

<div class="container">
    

    

    

    

    

    <!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    ::::: Blog
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->

    <section>















    </section>

    

</div>    

   