@model MVC_Resume_MIO.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="animated fadeInLeftBig">
    <h1 class="page-header">
        Eddie's Blog
        <small>Insight to my time at Coder Foundry</small>
    </h1>
</div>
<div class="row">
    <div class="span8 animated fadeInLeftBig">

        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
        <p class="lead">
            by <a>Edward Waked</a>
        </p>
        <div>
            <p>
                @Html.DisplayNameFor(model => model.Created)
            </p>

            <p>
                @Html.DisplayFor(model => model.Created)
            </p>
        </div>
        @* /// create a blog updated date stamp here *@
        <div>
            <p>
                @Html.DisplayNameFor(model => model.Updated)
            </p>

            <p>
                @Html.DisplayFor(model => model.Updated)
            </p>
        </div>
        <hr>
        <img class="img-responsive" src="@Model.MediaURL" alt="image">
        <hr>
        <div>@Html.Raw(Model.Body)</div>

      

        <div>
            @Html.ActionLink("Leave a Comment", "Create", "Comments")

            @foreach (var comment in Model.Comment)
            {
                <div class="post-body">
                    <div class="post-body-inner comment-width">
                        <div class="post-message-container" data-role="message-container">
                            <div class="publisher-anchor-color" data-role="message-content">
                                <div class="post-message" data-role="message" dir="auto">
                                    <p>@comment.Author.DisplayName</p>
                                    <p class="fa-indent fa-2x">@Html.DisplayFor(modelComment => comment.Body)</p>
                                </div>
                                <span class="post-media"><ul data-role="post-media-list"></ul></span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.ActionLink("Edit /", "Edit", new { comment=comment.ID }) 
                @Html.ActionLink(" Details", "Details", new { comment=comment.ID }) 
            }

            
            <hr>

        </div>
        @*<p>@Html.Partial("_CommentsPartial", Model.Comment)</p>*@

    </div>

    <!-- Blog Search Well -->
    <div class="span4 animated rollIn">
        <div>
            <p>@Html.Partial("_LoginPartial")</p>
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
                    {
                        <input type="text" class="form-control" name="query" value="@ViewBag.Query" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="well">
            <ul>
                <li><button>@Html.ActionLink("Back to Blogs List", "Index")<span class="glyphicon glyphicon-chevron-right"></span></button></li>
                </br>
                <li><button>@Html.ActionLink("Edit the Blog Post", "Edit", new { id = Model.ID })<span class="glyphicon glyphicon-chevron-right"></span></button></li>
                </br>
                <li><button>@Html.ActionLink("Delete Post", "Delete", new { id = Model.ID })<span class="glyphicon glyphicon-chevron-right"></span></button></li>
            </ul>
        </div>
    </div>
</div>
<p>
   
    
</p>
