<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    :::::: Blog
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->
@model PagedList<MVC_Resume_MIO.Models.Post>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}
<div class="animated fadeInLeftBig">
    <h1 class="page-header">
        Eddie's Blog
        <small>Insight to my time at Coder Foundry</small>
    </h1>
        @if (User.IsInRole("Admin")) { 
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        }
</div>
<div class="row">
    <div class="span8 animated fadeInLeftBig">
        @foreach (var item in Model)
        {
            <h2>
                <a class="btn btn-primary" href="@Url.Action("Details", new { Slug = item.Slug })">@item.Title</a>
            </h2>
            <p class="lead">
                by <a>Edward Waked</a>
                <br />
            </p>
            <p><span class="glyphicon glyphicon-time"></span>@item.Created.ToString("dddd, dd MMM yyyy h:mm tt")</p>
            /// create a blog updated date stamp here
            <hr>
            <img class="img-responsive" src="@item.MediaURL" alt="image">
            @*<img class="img-responsive" src="http://placehold.it/900x300" alt="">*@
            <hr>
            <div class="wordBreak">@Html.Raw(item.Body)</div>
            <button>@Html.ActionLink("Read More", "Details", new { Slug = item.Slug })<span class="glyphicon glyphicon-chevron-right"></span></button>
            if (User.IsInRole("Admin")) { 
            <button>@Html.ActionLink("Delete", "Delete", new { id = item.ID }) <span class="glyphicon glyphicon-chevron-right"></span></button>
            }
            <hr>
            
        }

    </div>

    <!-- Blog Search -->

    <div class="span4 animated rollIn">
        <p>@Html.Partial("_LoginPartial")</p>
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
                {
                    <input type="text" class="form-control" name="query" value="@ViewBag.Query" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                }   
            </div>
        </div>
    </div>
</div>

@*Pager*@
<ul class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.Query }))
</ul>


@section Scripts {
<script src="/Scripts/jquery.dotdotdot.min.js"></script>
<script type="text/javaScript">
$(document).ready(function() {
	$(".wordBreak").dotdotdot({
	    //	configuration goes here
        watch: true
	});
});
</script>
}