<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    :::::: Blog
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->


@model IEnumerable<MVC_Resume_MIO.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Blog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <div class="col-md-6">
            <p><b>Date Created</b></p>
            <p>
                @Html.DisplayFor(modelItem => item.Created)
            </p>
        </div>
        <div class="col-md-6">
            <p><b>Date Updated</b></p>
            <p>
                @Html.DisplayFor(modelItem => item.Updated)
            </p>
        </div>
        <p>
            <font size="6">
            @Html.DisplayFor(modelItem => item.Title)
            </font>
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Body)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.MediaURL)
        </p>
    </div>
}









      


                            