<!--
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    :::::: Blog
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->


@model IEnumerable<MVC_Resume_MIO.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Blog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <div>
            <p><b>Date Created</b></p>
            <p>@*@Html.DisplayFor(modelItem => item.Created)*@ @item.Created.ToString("d")</p>
        </div>
        <div>
            <p><b>Date Updated</b></p>
            <p>@Html.DisplayFor(modelItem => item.Updated)@item.Created.ToString("d")</p>
        </div>
        <div>
            <p><font size="6">@Html.DisplayFor(modelItem => item.Title)</font></p>
        </div>
        <div>
            <p>@Html.DisplayFor(modelItem => item.Body)</p>
        </div>
        <div>
            <p>@Html.DisplayFor(modelItem => item.MediaURL)</p>
        </div>
    </div>
}









      


                            