@model IEnumerable<Bug_Boss.Models.TicketComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div>
        <p>
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.User.LastName)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Comment)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Created)
        </p>
        <p></p>
    </div>

@foreach (var item in Model) {
    <div>
        <p>
            @Html.DisplayFor(modelItem => item.Ticket.Title)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Comment)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Created)
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </p>
    </div>
}
        

